body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 25px;
}
nav a {
  text-align: 10px; 
  background-color: gray;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
#featured-property p {
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#details div {
    
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
  margin: auto
  padding: 10 px;
}
